.header {
  padding-top: 20px;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #8488ff0b;
    padding: 10px 20px;
    cursor: pointer;
    background: rgba(205, 205, 205, 0.03);
    transition: background 0.3s ease-in-out;
    span {
      font-size: 16px;
      font-weight: 600;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.71);
      transition: color 0.3s ease-in-out;
    }
    &:hover {
      background: rgba(132, 136, 255, 0.03);
      span {
        color: white;
      }
    }
    @media (max-width: 1710px) {
      svg {
        width: 17px;
        height: 17px;
      }
      span {
        font-size: 15px;
      }
    }

    &.active {
      span {
        color: white;
      }
      svg {
        path {
          stroke: #8488ff;
        }
      }

      background: rgba(132, 136, 255, 0.03);
    }
  }
  &__user-top {
    display: flex;
    align-items: center;
    .group-svg {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-right: 21px;
      .searchUser {
        padding: 10px 14px;
        border-radius: 10px;
        background-color: #1a1a2e;
        svg {
          cursor: pointer;
        }
        @media (max-width: 1710px) {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      svg {
        cursor: pointer;
      }
      @media (max-width: 1710px) {
        .iconHeader {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__userLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 45px;
      height: 45px;
      @media (max-width: 1710px) {
        width: 40px;
        height: 40px;
      }
    }
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-family: "Montserrat";
      .user-name {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: white;
      }
      .description {
        display: flex;
        align-items: center;
        gap: 6px;
        .circle {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #f05c00;
        }
        p {
          color: #8c8c92;
          font-size: 12px;
        }
      }
    }
  }
}
