.main {
	width: 95vw;
	max-width: 1440px;
	margin: 0 auto;
	.main-container {
		margin-top: 15px;
		display: grid;
		grid-template-columns:
			minmax(150px, 300px)
			1fr
			minmax(150px, 350px);
		gap: 20px;

		.container-posts {
			font-family: 'Montserrat';
			margin-bottom: 100px;

			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		.contianer-Contact {
			font-family: 'Montserrat';
		}
	}
}
